/* required for navbar-fixed-top */
body {
    padding-top: 70px;
    padding-bottom: 70px; /*for navbar-fixed-bottom*/
    overflow: hidden;
    background-color: lightcyan;
}

/* Correct left margin */
.navbar-header{
    padding-left: 15px;
    background-color: yellow;
    /*color: #FF0000;*/
}

/*.navbar-header:not(.collapsed),*/
.navbar-header.collapsed,
.navbar-header:focus,
.navbar-header:hover{
    background-color: darkblue;
    /*border-color: #FF0000;*/
    /*border-style: dashed;*/
}

.navbar .navbar-toggle {
    position: relative;
    z-index: 2;
    min-height: 34px;
    padding: 9px 5px;
    border-color:transparent;
    background-color: aquamarine;
}

.navbar .navbar-toggle:hover {
    background-color: aquamarine;
}

.navbar .navbar-toggle:focus {
    background-color: cadetblue;
}

/*.navbar .navbar-toggle:hover,*/
/*.navbar .navbar-toggle:focus,*/
.navbar .navbar-toggle:not(.collapsed) {
    /*background-color: transparent;*/
    background-color: #FF0000;
    border-color: #FF0000;
    /*border-color: transparent*/

}

.top-bar,
.bottom-bar {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.navbar .navbar-toggle:not(.collapsed) .top-bar {
    position: absolute;
    top: 46%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.navbar .navbar-toggle:not(.collapsed) .middle-bar {
    background-color: transparent
}

.navbar .navbar-toggle:not(.collapsed) .bottom-bar {
    position: absolute;
    bottom: 46%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
